*{
    padding: 0;
    margin: 0;
}

::placeholder{
    color: wheat;
}

body{
    background-image: linear-gradient(to right, #EEC458, #F37F14);
    height: 100vh;
}

.logo{
    width: 25rem;
    height: auto;
}

.form-Register h1{
    font-size: 2.5rem;
}
.form-Register h2{
    font-size: 2rem;
}
.forgotPassword{
    display: flex;
    justify-content: end;
    padding-top: 3px;
    text-decoration: none;
}

.form-register{
    background-image: linear-gradient(to top, #EEC458, #F37F14);
    border-radius: 1rem;
    border: solid 1.9px black;
    width: 28rem;
    padding: 1.5rem;
    height: 28rem;
}

.main{
    display: flex;
    justify-content: center;
    gap: 8rem;
    align-items: center;
    height: 100vh;
}

.inputDato{
    flex-direction: column;
    display: flex;
    padding-top: 1rem;
}

.inputDato label{
    font-size: 1.2rem;
    padding-bottom: 0.5rem;
    font-weight: bolder;
}

.inputDato input{
    border-radius: 1rem;
    border: none;
    background-image: linear-gradient(to right, #A18B15, #CE7828);
    height: 3rem;
    padding-left: 1rem;
}

#formularioRegister{
    padding-top: 1.5rem;
}
.btnRegister{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1rem 0rem; 

}
.register a{
    text-decoration: none;
}
.register{
    display: flex;
    justify-content: center;
    align-items: center;
}
.btnRegister button{
    border: none;
    background-image: linear-gradient(to right, #EB9734, #ED6565);
    width: 24rem;
    height: 3rem;
    border-radius: 1rem;
    font-size: 1.3rem;
    font-weight: bolder;
    cursor: pointer;
}